node_modules/
.DS_Store
.env


# echo "# lanslide" >> README.md
# git init
# git add README.md
# git commit -m "first commit"
# git branch -M main
# git remote add origin https://github.com/vivek-mishra12/lanslide.git
# git push -u origin main